/* Custom styles for the form */
.ant-form-item {
    margin-bottom: 24px;
}

.ant-upload-list-picture-card-container {
    width: 100px;
    height: 100px;
}

.ant-btn {
    margin-right: 8px;
}

.ant-tag {
    margin-right: 4px;
}

.btn {
    width: 150px !important;
    height: 30px;
}