.search-card {
    margin: 10px 10px;
}

.table-card {
    margin: 10px 10px;
}

.ant-form-item {
    margin-right: 16px;
}

.ant-input {
    width: 240px;
}

.btn1,
.btn2,
.btn3,
.btn4,
.btn5 {
    width: 80px;
}
.btn4,
.btn5{
    margin-bottom: 20px;
}